# PART1

# loading libraries

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from matplotlib import pyplot

# Load Data

In [48]:
data = pd.read_excel('Train_dataset.xlsx')
# Seaborn visualization library
# import seaborn as sns
# # Create the default pairplot
# sns.pairplot(data)

In [49]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 28 columns):
people_ID                 10714 non-null int64
Region                    10714 non-null object
Gender                    10714 non-null object
Designation               10714 non-null object
Name                      10694 non-null object
Married                   10714 non-null object
Children                  10403 non-null float64
Occupation                9967 non-null object
Mode_transport            10711 non-null object
cases/1M                  10714 non-null int64
Deaths/1M                 10714 non-null int64
comorbidity               10488 non-null object
Age                       10714 non-null int64
Coma score                10714 non-null int64
Pulmonary score           10714 non-null object
cardiological pressure    10617 non-null object
Diuresis                  9998 non-null float64
Platelets                 9790 non-null float64
HBB                       10698 non-null float64
d-dimer                   9600 non-null float64
Heart rate                9600 non-null float64
HDL cholesterol           10679 non-null float64
Charlson Index            10714 non-null int64
Blood Glucose             10714 non-null int64
Insurance                 9624 non-null float64
salary                    10714 non-null int64
FT/month                  9991 non-null float64
Infect_Prob               10714 non-null float64
dtypes: float64(10), int64(8), object(10)
memory usage: 2.3+ MB

In [50]:
#drop id/name/for training
data = data.drop(columns=['people_ID','Designation', 'Name'])

In [51]:
data.head()
y = data.iloc[:,-1]

# Filling Missing Values

In [52]:
# Categorical columns
cat_data = data.select_dtypes(include=['object']).copy()
print("Missing values:")
print(cat_data.isnull().sum())
print("\nafter filling:")
cat_data = cat_data.fillna(cat_data.mode().index[0])
print(cat_data.isnull().sum())

Missing values:
Region                      0
Gender                      0
Married                     0
Occupation                747
Mode_transport              3
comorbidity               226
Pulmonary score             0
cardiological pressure     97
dtype: int64

after filling:
Region                    0
Gender                    0
Married                   0
Occupation                0
Mode_transport            0
comorbidity               0
Pulmonary score           0
cardiological pressure    0
dtype: int64

# Categorical Encoding

In [53]:
import category_encoders as ce
encoder = ce.BinaryEncoder(cat_data)
cat_data = encoder.fit_transform(cat_data)
cat_data.head()

,Region_0,Region_1,Region_2,Region_3,Gender_0,Gender_1,Married_0,Married_1,Occupation_0,Occupation_1,...,comorbidity_1,comorbidity_2,comorbidity_3,Pulmonary score_0,Pulmonary score_1,Pulmonary score_2,cardiological pressure_0,cardiological pressure_1,cardiological pressure_2,cardiological pressure_3
0,0,0,0,1,0,1,0,1,0,0,...,0,0,1,0,0,1,0,0,0,1
1,0,0,0,1,0,1,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0
2,0,0,0,1,0,1,1,0,0,0,...,0,1,1,0,1,1,0,0,1,1
3,0,0,0,1,0,1,0,1,0,0,...,1,0,0,1,0,0,0,1,0,0
4,0,0,0,1,0,1,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1

In [54]:
# Numerical columns
f_data = data.select_dtypes(include=['float64']).copy()
print("Missing values:")
print(f_data.isnull().sum())
print("\nafter filling:")
f_data = f_data.fillna(f_data.mode().index[0])
print(f_data.isnull().sum())

Missing values:
Children            311
Diuresis            716
Platelets           924
HBB                  16
d-dimer            1114
Heart rate         1114
HDL cholesterol      35
Insurance          1090
FT/month            723
Infect_Prob           0
dtype: int64

after filling:
Children           0
Diuresis           0
Platelets          0
HBB                0
d-dimer            0
Heart rate         0
HDL cholesterol    0
Insurance          0
FT/month           0
Infect_Prob        0
dtype: int64

In [55]:
# Numerical columns
i_data = data.select_dtypes(include=['int64']).copy()
print("Missing values:")
print(i_data.isnull().sum())
print("\nafter filling:")
i_data = i_data.fillna(i_data.mode().index[0])
print(i_data.isnull().sum())

Missing values:
cases/1M          0
Deaths/1M         0
Age               0
Coma score        0
Charlson Index    0
Blood Glucose     0
salary            0
dtype: int64

after filling:
cases/1M          0
Deaths/1M         0
Age               0
Coma score        0
Charlson Index    0
Blood Glucose     0
salary            0
dtype: int64

# Merge all clean dfs

In [56]:
data1 = pd.concat([cat_data,f_data,i_data,y], axis=1)

In [58]:
print(data1.isnull().sum())

Region_0                    0
Region_1                    0
Region_2                    0
Region_3                    0
Gender_0                    0
Gender_1                    0
Married_0                   0
Married_1                   0
Occupation_0                0
Occupation_1                0
Occupation_2                0
Occupation_3                0
Occupation_4                0
Mode_transport_0            0
Mode_transport_1            0
Mode_transport_2            0
comorbidity_0               0
comorbidity_1               0
comorbidity_2               0
comorbidity_3               0
Pulmonary score_0           0
Pulmonary score_1           0
Pulmonary score_2           0
cardiological pressure_0    0
cardiological pressure_1    0
cardiological pressure_2    0
cardiological pressure_3    0
Children                    0
Diuresis                    0
Platelets                   0
HBB                         0
d-dimer                     0
Heart rate                  0
HDL cholesterol             0
Insurance                   0
FT/month                    0
Infect_Prob                 0
cases/1M                    0
Deaths/1M                   0
Age                         0
Coma score                  0
Charlson Index              0
Blood Glucose               0
salary                      0
Infect_Prob                 0
dtype: int64

In [59]:
data1.iloc[12]

Region_0                    0.000000e+00
Region_1                    0.000000e+00
Region_2                    0.000000e+00
Region_3                    1.000000e+00
Gender_0                    0.000000e+00
Gender_1                    1.000000e+00
Married_0                   1.000000e+00
Married_1                   0.000000e+00
Occupation_0                0.000000e+00
Occupation_1                0.000000e+00
Occupation_2                1.000000e+00
Occupation_3                1.000000e+00
Occupation_4                1.000000e+00
Mode_transport_0            0.000000e+00
Mode_transport_1            0.000000e+00
Mode_transport_2            1.000000e+00
comorbidity_0               0.000000e+00
comorbidity_1               0.000000e+00
comorbidity_2               1.000000e+00
comorbidity_3               0.000000e+00
Pulmonary score_0           1.000000e+00
Pulmonary score_1           0.000000e+00
Pulmonary score_2           0.000000e+00
cardiological pressure_0    0.000000e+00
cardiological pressure_1    1.000000e+00
cardiological pressure_2    0.000000e+00
cardiological pressure_3    0.000000e+00
Children                    0.000000e+00
Diuresis                    4.030000e+02
Platelets                   3.900000e+01
HBB                         1.740000e+02
d-dimer                     2.130000e+02
Heart rate                  9.800000e+01
HDL cholesterol             4.300000e+01
Insurance                   0.000000e+00
FT/month                    2.000000e+00
Infect_Prob                 3.514752e+01
cases/1M                    2.000000e+00
Deaths/1M                   0.000000e+00
Age                         1.800000e+01
Coma score                  1.500000e+01
Charlson Index              3.300000e+01
Blood Glucose               3.000000e+00
salary                      2.300000e+06
Infect_Prob                 3.514752e+01
Name: 12, dtype: float64

In [62]:
x = data1.iloc[:,:-1]
y = data1.iloc[:,-1]

In [63]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=1)

In [64]:
# # format all fields as string
# x = x.astype(str)
# y = y.astype(str)

In [65]:
#Feature Scaling
from sklearn.preprocessing import MinMaxScaler
sc_x = MinMaxScaler(feature_range =(0, 1))
X_train =  sc_x.fit_transform(X_train)
X_test =  sc_x.fit_transform(X_test)

In [ ]:
# X_train_enc = X_train_enc.astype(str)
# X_test_enc = X_test_enc.astype(str)
# y_train = y_train.astype(str)
# y_test = y_test.astype(str)

In [ ]:
# print(X_train_fs)

In [66]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(7178, 44)
(3536, 44)
(7178,)
(3536,)

# Fitting the models

# Random Forest

In [67]:
# fit the model - Random Forest
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

model = RandomForestRegressor(n_estimators = 175,random_state=0)
model.fit(X_train,y_train)
print("Trained model :: ", model)
# evaluate the model
expected_y  = y_test
predicted_y = model.predict(X_test)
print("R2 Score:",metrics.r2_score(expected_y, predicted_y))
print("MSE:",metrics.mean_squared_error(expected_y, predicted_y))

Trained model ::  RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=175, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)
R2 Score: 0.9999996503138595
MSE: 4.069257868986193e-05

# Multiple Linear Regression

In [73]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)
print("Trained model :: ", regressor)
# evaluate the model
expected_y  = y_test
predicted_y = regressor.predict(X_test)
print("R2 Score: " , metrics.r2_score(expected_y, predicted_y))

Trained model ::  LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
R2 Score:  1.0

# SVM Regression

In [ ]:
from sklearn.svm import SVR 
from sklearn.metrics import mean_squared_error

# MLP

In [74]:
from sklearn.neural_network import MLPRegressor
from sklearn import metrics
model = MLPRegressor()
model.fit(X_train, y_train)
print(); print(model)

# make predictions
expected_y  = y_test
predicted_y = model.predict(X_test)

# summarize the fit of the model
print("R2 Score:",metrics.r2_score(expected_y, predicted_y))

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(100,), learning_rate='constant',
             learning_rate_init=0.001, max_fun=15000, max_iter=200,
             momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
             power_t=0.5, random_state=None, shuffle=True, solver='adam',
             tol=0.0001, validation_fraction=0.1, verbose=False,
             warm_start=False)
R2 Score: 0.9999963999559027